body {
    background: linear-gradient(
    #3a3a3a,
    #222222
);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    #reglesDuel {
    position: absolute;
    left: 20px;
    top: 360px;
    width: 180px;
    text-align: left;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
}

#reglesDuel h3 {
    margin-top: 0;
    color: gold;
}
}
#reglesDuel {
    width: 180px;
    float: left;
    margin-right: 20px;
    text-align: left;
}
#plateau {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: fit-content;
    margin: 20px auto;
}

button {
    width: 90px;
    height: 140px;
    margin: 8px;
    border-radius: 10px;
    border: none;
    Padding: 0; 
    cursor: pointer;
    background: transparent;
    font-size: 18px;
    color: #ffd700;
font-weight: bold;
text-shadow: 0 0 5px rgba(255,215,0,0.6);
}

button img {
    width: 90px;
    height: 140px;
    object-fit: contain;
}

button:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.joueur1 {
    color: deepskyblue;
}

.joueur2 {
    color: red;
}

.joueur3 {
    color: gold;
}

.joueur4 {
    color: limegreen;
}

#finPartie {
    display: none;
    background-color: #333;
    border: 3px solid gold;
    border-radius: 20px;
    width: 500px;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    color: white;
}

#finPartie h2 {
    color: gold;
}
#finPartie {
    animation: apparition 0.8s ease;
}

@keyframes apparition {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
button:hover {
    transform: scale(1.1) rotate(2deg);
    transition: 0.2s;
}
button {
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}
button:hover {
    box-shadow: 0 0 20px gold;
}
.boutonMenu {
    color: gold;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
}
#tour {
    font-size: 2em;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
}
#scores {
    font-size: 1.2em;
    opacity: 0.8;
}

#score {
    font-size: 0.8em;
    opacity: 0.6;
}
#scores {
    position: absolute;
    left: 20px;
    top: 180px;
    text-align: left;
}
#score {
    position: absolute;
    left: 20px;
    top: 350px;
    text-align: left;
}
.bouton-exclure {
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    box-shadow: none;
    width: auto;
height: auto;
margin: 0;
}
.ligne-joueur {
    list-style: none;
}
#changerMode {
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    padding: 8px 12px;
    margin: 10px;
    background: #444;
    color: white;
    border: 1px solid white;
}
.boutonMode {
    width: auto !important;
    height: auto !important;
    padding: 8px 12px !important;
    margin: 4px !important;
    font-size: 16px !important;
}
.partiePublique {

    width: 140px;
    height: 60px;

}
#partiesPubliques {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
#zoneActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px; 
}

#codePartie {

    width: 70px;

    text-align: center;

    text-transform: uppercase;

}
#signature {
    font-size: 11px;
    color: #7e7d7d;
    margin-top: 30px;
}

#contactWhale a {
    color: #888;
    text-decoration: none;
}
#contactWhale {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
}

#contactWhale a {
    color: #888;
    text-decoration: none;
}

#contactWhale a:hover {
    text-decoration: underline;
}
#boutonReady {

    width: 120px;
    height: 40px;

    font-size: 20px;

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#texteReady {
    margin-top: 15px;
    margin-bottom: 10px;
}
#titreSite {
    margin-bottom: 0;
}

#slogan {
    margin-top: -10px;
    font-size: 16px;
}
#nomJeu {

    margin-top: 5px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: normal;

}
.duelDescription {

    font-size: 12px;
    font-style: italic;
    opacity: 0.7;

    margin-left: 25px;
    margin-bottom: 10px;

}
#infosLobby {

    font-size: 20px;
    font-weight: bold;

}
#zoneReady {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 15px;

    margin: 15px 0;

}